<?xml version="1.0"?>

<model>
  <name>lwall</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Mario Gonzlaez</name>
  </author>

  <maintainer email="notimportant@marioiscool.com">john hsu</maintainer>


  <description>
    L-wall for obstacle avoidance 
  </description>
</model>